body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffaef;
}

.appContainer {
    max-width: 750px;
    min-width: 320px;
    overflow-x: auto;
    margin: 30px auto;
    padding: 20px;
    border-radius: 4px;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputField {
    flex: 1;
    padding: 10px;
    border: 3px solid #482307;
    border-radius: 10px 0px 0px 10px;
}

.inputField:focus {
    outline: none;
    box-shadow: 0 0 5px #572f10;
}

.title {
    color: #572f10;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.empty {
    text-align: center;
}

.addButton {
    background-color: #482307;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #482307;
    color: #fffaef;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    box-shadow: 0 0 5px #572f10;
    background-color: #572f10;
    border: 3px solid #572f10;
    outline: none;
}

.todoList {
    list-style: none;
    padding: 0;
}

.divContainer {
    display: flex;
    justify-content: space-between;
    background-color: #482307;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #fffaef;
}

.todoItem {
    align-items: center;
    padding: 10px;
    overflow-wrap: anywhere;

}

.deleteButton {
    background-color: #ffdfbe61;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;

}